
.des, .des2, .des3{
  display: none;
}
.boton{
    display: flex;
    cursor: pointer;
	align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ddd;
	transition: background-color 0.3s, color 0.3s;
}  
.boton:hover, li:hover{
     background-color: #444;
}
.flecha, .book {
    margin-right: 10px; 
    width: 20px; 
    height: 20px; 
	transition: transform 0.3s;
}
.rotar{
	transform: rotate(90deg);
}
ul{
 margin: 0;
 padding: 0;
}
.iconos{
	margin-right: 5px; 
    width: 25px; 
    height: 25px; 
}
li{
	margin-bottom: 5%;
}
body {
    margin: 0;
}
.code-container {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width:80%;
	margin: 0 auto;
}

pre {
    margin: 0;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #00aaff; /* Texto del código en azul */
}

code .comment {
    color: #888888; /* Comentarios en un color más tenue */
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white; /* Color de texto */
}

th, td {
    border: 1px solid #fff; /* Borde de celda */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333; /* Color de fondo para las celdas del encabezado */
}

tr:nth-child(even) {
    background-color: #555; /* Color de fondo para filas pares */
}

tr:nth-child(odd) {
    background-color: #444; /* Color de fondo para filas impares */
}

.container {
    display: flex;
    align-items: center;
	justify-content: center;
    align-items: center;
    margin: 0;
}

.imagen-redonda {
    width: 150px; /* Puedes ajustar el tamaño según tus necesidades */
    height: 150px; /* Debe ser igual al width para mantener la forma circular */
    border-radius: 50%;
    object-fit: cover; /* Para que la imagen se ajuste bien dentro del contenedor */
    margin-right: 20px; /* Espacio entre la imagen y el título */
}
a{
	justify-content: center;
	text-decoration: none;
}
h6{
	font-weight: bold;
}

::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #333; /* Color de fondo del track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #666; /* Color del thumb */
    border-radius: 6px; /* Borde del thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color del thumb al pasar el mouse */
  }

.movil {
            background-color: #333;
            color: white;
            padding: 10px 0;
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 10px; /* Espacio entre los menús */
        }
select.menu {
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 0;
            background-color: #444;
            color: white;
        }
		
@media only screen and (max-width: 768px) {
  .w3-jumbo {
    display: none;
  }

}